Package: pro.relative.openmessages.tweak
Name: OpenMessagesTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Relative
Author: Relative
Section: Tweaks
